/ufile_wasm/target/
/ufile_wasm/pkg/
/ufile_wasm/.wasm-pack
/hasher_wasm/target/
/hasher_wasm/pkg/
/hasher_wasm/.wasm-pack
/node_modules/
*.log
.DS_Store
Thumbs.db
.vscode/
/docs/
node_modules/.bin/eleventy
