:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

	/* Theme colors */
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #dad8d8;

	--background-color: #656D4A;

	--text-color: var(--color-gray-90);
	--text-color-link: var(--color-gray-20);
	--text-color-link-active: #d199b8;
	--text-color-link-visited: var(--color-gray-50);;

	--syntax-tab-size: 2;

	/* Footer */
	--footer-background-color: #414833;

	/* Header */
	--header-background-color: #414833;

	--colortext-message-box: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--colortext-message-box: var(--color-gray-20);
	}
}

/* Global Styles */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	max-width: 40em;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: none;
}

html {
	overflow-y: scroll;
}

img {
	max-width: 100%;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p,
li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	box-sizing: border-box;
	background-color: var(--header-background-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-bottom: 1px dashed var(--color-gray-20);
	width: 100%;
	max-width: none;
	text-align: center;
}

.home-link {
	margin: 0;
	text-align: left;
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Main */
main {
	flex: 1;
	max-width: 60em;
	margin: 0 auto;
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

/* Footer */
footer {
	padding: 1rem;
	background-color: var(--footer-background-color);
	text-align: center;
	color: var(--color-gray-90);
	width: 100%;
	max-width: none;
}

/* Links Next/Prev */
.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

/* Posts List */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em;
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em;
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags List */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Message Box */
.message-box {
	--color-message-box: #dad7cd;

	display: block;
	background-color: var(--color-message-box);
	color: var(--colortext-message-box);
	padding: 1em 0.625em;
}
.message-box ol {
	margin-top: 0;
}
@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #362b00;
	}
}

/* CV Box */
.cvbox {
	background: #333D29;
}
@media (prefers-color-scheme: dark) {
	.cvbox {
		background: #333D29;
	}
}

/* Visually Hidden */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Clarendon', Georgia, serif;
  font-weight: 700;
}